<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.tianma8023.xposed.smscode">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".app.SmsCodeApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- xposed module configuration -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <!-- umeng analyze configuration -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_NAME}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="@string/umeng_analyze_app_key"/>

        <activity
            android:name=".app.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".HomeActivityAlias"
            android:enabled="true"
            android:targetActivity=".app.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity
            android:exported="true"
            android:label="@string/import_rules"
            android:name=".app.rule.CodeRulesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern="/.*\\.scebak"
                    android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="content"
                    android:host="*"
                    android:pathPattern="/.*\\.scebak"
                    android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".app.record.CodeRecordsActivity"
            android:label="@string/smscode_records"/>

        <service
            android:name=".service.accessibility.SmsCodeAutoInputService"
            android:label="@string/smscode_auto_input_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <service
            android:name=".service.SmsCodeService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
        </service>

        <receiver
            android:name=".receiver.SmsCodeReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>

        <provider
            android:name=".provider.SharedPreferencesProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>
    </application>

</manifest>