<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.github.tianma8023.xposed.smscode">

    <application
        android:name="com.tianma.xsmscode.ui.app.SmsCodeApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- xposed module configuration -->
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_description"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <activity
            android:name="com.tianma.xsmscode.ui.home.HomeActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".HomeActivityAlias"
            android:enabled="true"
            android:targetActivity="com.tianma.xsmscode.ui.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity-alias>

        <activity
            android:exported="true"
            android:label="@string/import_rules"
            android:name="com.tianma.xsmscode.ui.rule.CodeRulesActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="file"
                    android:host="*"
                    android:pathPattern="/.*\\.scebak"
                    android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="content"
                    android:host="*"
                    android:pathPattern="/.*\\.scebak"
                    android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.tianma.xsmscode.ui.record.CodeRecordActivity"
            android:label="@string/smscode_records"/>

        <activity android:name="com.tianma.xsmscode.ui.block.AppBlockActivity"
            android:label="@string/app_block_settings"/>

        <provider
            android:name="com.tianma.xsmscode.data.db.DBProvider"
            android:authorities="${applicationId}.db.provider"
            android:exported="true"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/files"/>
        </provider>
    </application>

</manifest>