<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.tianma8023.xposed.smscode">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".app.SmsCodeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposeddescription"
            android:value="提取新短信中的验证码并复制到剪贴板"/>
        <meta-data
            android:name="xposedminversion"
            android:value="30"/>

        <activity
            android:name=".app.HomeActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS"/>
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".HomeActivityAlias"
            android:enabled="true"
            android:targetActivity=".app.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>

        <provider
            android:name=".provider.SharedPreferencesProvider"
            android:authorities="${applicationId}.preferences"
            android:exported="true"/>

        <service
            android:name=".service.accessibility.SmsCodeAutoInputService"
            android:label="@string/smscode_auto_input_service_label"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

        <service
            android:name=".service.SmsCodeService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
        </service>

        <receiver
            android:name=".receiver.SmsCodeReceiver"
            android:enabled="true"
            android:exported="true">
        </receiver>
    </application>

</manifest>